In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv("/content/drive/MyDrive/property_listing_data_in_Bangladesh.csv")
df.head()

,title,beds,bath,area,adress,type,purpose,flooPlan,url,lastUpdated,price
0,Eminent Apartment Of 2200 Sq Ft Is Vacant For ...,3,4,"2,200 sqft","Block A, Bashundhara R-A, Dhaka",Apartment,For Rent,https://images-cdn.bproperty.com/thumbnails/10...,https://www.bproperty.com/en/property/details-...,"August 13, 2022",50 Thousand
1,"Apartment Ready To Rent In South Khulshi, Near...",3,4,"1,400 sqft","South Khulshi, Khulshi, Chattogram",Apartment,For Rent,https://images-cdn.bproperty.com/thumbnails/44...,https://www.bproperty.com/en/property/details-...,"January 25, 2022",30 Thousand
2,"Smartly priced 1950 SQ FT apartment, that you ...",3,4,"1,950 sqft","Block F, Bashundhara R-A, Dhaka",Apartment,For Rent,https://images-cdn.bproperty.com/thumbnails/11...,https://www.bproperty.com/en/property/details-...,"February 22, 2023",30 Thousand
3,2000 Sq Ft Residential Apartment Is Up For Ren...,3,3,"2,000 sqft","Sector 9, Uttara, Dhaka",Apartment,For Rent,https://images-cdn.bproperty.com/thumbnails/14...,https://www.bproperty.com/en/property/details-...,"October 28, 2021",35 Thousand
4,Strongly Structured This 1650 Sq. ft Apartment...,3,4,"1,650 sqft","Block I, Bashundhara R-A, Dhaka",Apartment,For Rent,https://images-cdn.bproperty.com/thumbnails/10...,https://www.bproperty.com/en/property/details-...,"February 19, 2023",25 Thousand

In [3]:
df.drop(['type'],axis=1,inplace=True)
df.head()

,title,beds,bath,area,adress,purpose,flooPlan,url,lastUpdated,price
0,Eminent Apartment Of 2200 Sq Ft Is Vacant For ...,3,4,"2,200 sqft","Block A, Bashundhara R-A, Dhaka",For Rent,https://images-cdn.bproperty.com/thumbnails/10...,https://www.bproperty.com/en/property/details-...,"August 13, 2022",50 Thousand
1,"Apartment Ready To Rent In South Khulshi, Near...",3,4,"1,400 sqft","South Khulshi, Khulshi, Chattogram",For Rent,https://images-cdn.bproperty.com/thumbnails/44...,https://www.bproperty.com/en/property/details-...,"January 25, 2022",30 Thousand
2,"Smartly priced 1950 SQ FT apartment, that you ...",3,4,"1,950 sqft","Block F, Bashundhara R-A, Dhaka",For Rent,https://images-cdn.bproperty.com/thumbnails/11...,https://www.bproperty.com/en/property/details-...,"February 22, 2023",30 Thousand
3,2000 Sq Ft Residential Apartment Is Up For Ren...,3,3,"2,000 sqft","Sector 9, Uttara, Dhaka",For Rent,https://images-cdn.bproperty.com/thumbnails/14...,https://www.bproperty.com/en/property/details-...,"October 28, 2021",35 Thousand
4,Strongly Structured This 1650 Sq. ft Apartment...,3,4,"1,650 sqft","Block I, Bashundhara R-A, Dhaka",For Rent,https://images-cdn.bproperty.com/thumbnails/10...,https://www.bproperty.com/en/property/details-...,"February 19, 2023",25 Thousand

In [4]:
df.drop(columns=['title','adress','purpose','flooPlan','url','lastUpdated'],inplace=True)
df.head()

  beds bath        area        price
0   3    4   2,200 sqft  50 Thousand
1   3    4   1,400 sqft  30 Thousand
2   3    4   1,950 sqft  30 Thousand
3   3    3   2,000 sqft  35 Thousand
4   3    4   1,650 sqft  25 Thousand

In [5]:
df['area']=df['area'].str.replace(',','')
df['area']=df['area'].str.replace(' sqft','')
df['area']=df['area'].astype(int)

In [6]:

df['price']=df['price'].str.replace(' Thousand','')


df['price']=df['price'].str.replace(' Lakh','')
df['price']=df['price'].astype(float) * 100000

df.head()

  beds bath  area      price
0   3    4   2200  5000000.0
1   3    4   1400  3000000.0
2   3    4   1950  3000000.0
3   3    3   2000  3500000.0
4   3    4   1650  2500000.0

In [7]:
df['beds']=df['beds'].str.replace(' Bed','')
df['beds']=df['beds'].astype(int)

df.head()

   beds bath  area      price
0     3   4   2200  5000000.0
1     3   4   1400  3000000.0
2     3   4   1950  3000000.0
3     3   3   2000  3500000.0
4     3   4   1650  2500000.0

In [8]:
df['bath']=df['bath'].str.replace(' Bath','')
df['bath']=df['bath'].astype(int)

df.head()

   beds  bath  area      price
0     3     4  2200  5000000.0
1     3     4  1400  3000000.0
2     3     4  1950  3000000.0
3     3     3  2000  3500000.0
4     3     4  1650  2500000.0

In [9]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(df.drop(['price'],axis=1),df['price'],test_size=.4,random_state=42)
x_test,x_val,y_test,y_val = train_test_split(x_test,y_test,test_size=.5,random_state=42)

In [10]:
 from sklearn.preprocessing import MinMaxScaler

 scaler = MinMaxScaler()

 scaler.fit(x_train)

 x_train_scaled = scaler.transform(x_train)
 
 x_test_scaled = scaler.transform(x_test)

 x_train_scaled

array([[0.05      , 0.11111111, 0.01836306],
       [0.05      , 0.11111111, 0.02360965],
       [0.1       , 0.22222222, 0.0498426 ],
       ...,
       [0.1       , 0.11111111, 0.04721931],
       [0.1       , 0.33333333, 0.08919203],
       [0.05      , 0.11111111, 0.03147954]])

#Loss function and Gradient Descent for Training Dataset

In [34]:
class GDRegressor:
    
    def __init__(self,learning_rate=0.01,epochs=100):
        
        self.coef_ = None
        self.intercept_ = None
        self.lr = learning_rate
        self.epochs = epochs

    def cost_function(self,x_train,y_train):
       y_hat = np.dot(x_train,self.coef_) + self.intercept_ 
       intercept_der = -2 * np.mean(y_train - y_hat) 
       return intercept_der   
        
    def gradient_descent(self,x_train,y_train):
       y_hat = np.dot(x_train,self.coef_) + self.intercept_
       coef_der = -2 * np.dot((y_train - y_hat),x_train)/x_train.shape[0] 
       return coef_der

    def fit(self,x_train,y_train):
        self.intercept_ = 0
        self.coef_ = np.ones(x_train.shape[1])

        for i in range(self.epochs):
            intercept_der =  self.cost_function(x_train,y_train)  #cost_function
            print(intercept_der)

            self.intercept_ = self.intercept_ - (self.lr * intercept_der)
            coef_der = self.gradient_descent(x_train,y_train) 
            self.coef_ = self.coef_ - (self.lr * coef_der) 

    def predict(self,x_test):
      return np.dot(x_test,self.coef_)+self.intercept_

In [35]:
gdr=GDRegressor(epochs=100,learning_rate=.01)

gdr.fit(x_train_scaled,y_train)

-4369971.988279338
-4278114.676239167
-4188178.690493854
-4100123.845931652
-4013910.797923901
-3929501.024746086
-3846856.8103665602
-3765941.2275952487
-3686718.121584803
-3609152.09367683
-3533208.485585987
-3458853.3639148674
-3386053.5049927607
-3314776.3800315177
-3244990.1405918836
-3176663.6043538065
-3109766.241184362
-3044268.1594970776
-2980140.092896547
-2917353.3871023846
-2855879.98714666
-2795692.4248391124
-2736763.806494524
-2679067.8009167863
-2622578.627634277
-2567271.0453813034
-2513120.3408204503
-2460102.317500819
-2408193.285047189
-2357370.048575306
-2307609.8983285464
-2258890.599531332
-2211190.3824547674
-2164487.9326900584
-2118762.3816253566
-2073993.2971217947
-2030160.6743845253
-1987244.9270247011
-1945226.8783083926
-1904087.752588541
-1863809.1669161073
-1824373.1228266861
-1785761.9982988976
-1747958.5398809724
-1710945.8549820164
-1674707.4043245006
-1639226.9945546114
-1604488.7710071572
-1570477.2106217998
-1537177.1150074443
-1504573.603651688
-1472652.1072722988
-1441398.3613077449
-1410798.399543877
-1380838.5478739059
-1351505.418188894
-1322785.9023960289
-1294667.1665620054
-1267136.6451789034
-1240182.0355499913
-1213791.292292957
-1187952.6219581026
-1162654.4777591026
-1137885.5544139682
-1113634.7830939153
-1089891.3264778792
-1066644.5739104634
-1043884.1366611623
-1021599.8432827404
-999781.7350666894
-978420.0615937368
-957505.276377418
-937028.0325987618
-916979.1789301911
-897349.7554467604
-878130.9896229183
-859314.2924129938
-840891.2544136633
-822853.6421066795
-805193.3941801836
-787902.6179269628
-770973.585718031
-754398.7315499755
-738170.6476645087
-722282.0812387274
-706725.9311445955
-691495.2447762007
-676583.2149433746
-661983.1768302785
-647688.6050176049
-633693.1105670586
-619990.4381668183
-606574.4633367001
-593439.189691776
-580578.7462632264
-567987.384875225
-555659.4775766886
-543589.514126744
-531772.0995327823
-520201.9516400112

In [21]:
y_pred = gdr.predict(x_test)

from sklearn.metrics import mean_squared_error

mse = mean_squared_error(y_test,y_pred)

mse

4.892056409665052e+16

#Loss Function and Gradient Descent for Validation data

In [37]:
gdr=GDRegressor(epochs=10,learning_rate=.01)

gdr.fit(x_val,y_val)

-4452243.861111111
185994052419.64893
-1.1631831140768564e+16
7.274344867600829e+20
-4.549248748396003e+25
2.84502103645909e+30
-1.7792266691832644e+35
1.1126974105867894e+40
-6.9586160603970765e+44
4.351797444237806e+49